@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@600;700&family=Poppins:ital,wght@0,400;0,500;0,600;1,300;1,600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
    box-sizing: border-box;
}

.font {
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: rgb(213, 62, 255);
}

/*--------------------------Header CSS----------------------------*/
.header {
    width: 1100px;
    margin: auto;
    background: #000;
}

.row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.ca-header {
    max-width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
}

.header-btn {
    background: #d448ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 20px;
}

.header-btn-1 {
    color: #d448ff;
    background: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 20px;
}

.header-img {
    width: 100%;
}


/*--------------------------Overview CSS----------------------------*/

.overview {
    max-width: 1100px;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

}

.ca-o {
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 233);
    padding: 10px;
    margin: 10px;
    transition: 0.6s ease-out;
    cursor: pointer;
}

.ca-o:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.over-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.over-img {
    width: 100px;
}


/*--------------------------Overview CSS End----------------------------*/


/*--------------------------Courses CSS ----------------------------*/


.course {
    max-width: 1100px;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

}


.ca {
    max-width: 400px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    margin: 10px;
}

.course-btn {
    background: #d448ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 7px 20px;
    text-align: center;
    width: 100% !important;
}

.card-img {
    width: 100px;
    height: 200px;
}

/* ------------------------------------------------------Technology------------------------------------------ */
.tech {
    max-width: 1100px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.css {
    width: 150px;
    height: 150px;
}

.ca-t {
    border: 1px solid rgb(233, 233, 233);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: 0.6s ease-out;
    cursor: pointer;
}

.ca-t:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/*------------------------------------------------------------- Feedback----------------------------------------------- */
.feedback-row {
    gap: 10px;
    margin-bottom: 10px;
}

.left-h {
    display: flex;
}

.feedback {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
}

.student-feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-img {
    width: 40px;
    height: 40px;
    border-radius: 120px;
}

/* span {
    background: #e285ff;
} */

.card {
    margin: 10px;
}


.bottom {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.technology {
    width: 1100px;
    margin: auto;
}

.row-t {
    display: flex;
    justify-content: space-between;
}

.ca-t {
    border: 1px solid rgb(233, 233, 233);
    max-width: 250px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: 0.6s ease-out;
    cursor: pointer;
}

.ca-t:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.tech-img {
    width: 170px;
}
/*-------------------------------- Footer--------------------------------------- */
.fl{
    border-bottom: 2px solid rgb(255, 247, 2);
    
}
.footer a{
    font-family: 'Poppins', sans-serif;
}
/*---------------Contact------------------*/

.contact-w {
    max-width: 1100px;
    margin: auto;
    font-family: 'Poppins', sans-serif;

}

.need {
    padding-bottom: 20px;
}

iframe {
    width: 100%;
}

.contact {
    margin: 20px auto;
    padding: 10px;
}

input,
textarea {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

textarea {
    resize: vertical;
}

input:focus {
    outline: 1px solid rgb(209, 223, 255);

}

.btn-c {
    background: #000;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}



/*--------------------------Media Querry----------------------------*/


@media (max-width:1070px) {


    .map,
    .header {
        width: auto;
    }

    .technology {
        width: auto;
    }

    .tech-img {
        width: 120px;
    }
}

@media (max-width:1020px) {
    .tech {
        margin: auto;
        display: grid;
        gap: 10px;
    }

}

@media (max-width:800px) {
    .tech-img {
        width: 100px;
    }
}

@media (max-width:815px) {
    .css {
        width: 100px;
        height: 100px;

    }
}

@media (max-width:705px) {
    .tech {
        grid-template-columns: repeat(2, 1fr);
    }

    .css {
        width: 130px;
        height: 130px;
    }

}

@media (max-width:658px) {
    .tech {
        grid-template-columns: repeat(2, 1fr);
    }

    .css {
        width: 120px;
        height: 120px;
    }

}

@media (max-width:343px) {
    .tech {
        display: block;
    }

    .css {
        width: 120px;
        height: 120px;
    }

}

@media (max-width:776px) {
    .row-header {
        display: block;
        text-align: center;
        max-width: 100%;
    }

    .ca-header {
        max-width: 100%;
    }

    .course {
        display: block;
    }

    .ca {
        max-width: 100%;
    }

    .ca-o {
        max-width: 100%;
    }

    .overview {
        display: block;
    }
}

/* @media (max-width:700px) {
    .row-header {
        display: block;
        text-align: center;
        max-width: 100%;
    }
    .ca-header{
        max-width: 100%;
    }
} */
@media (max-width:768px) {

    .feedback {
        display: block;
    }

    .row-t {
        display: block;
    }

    .ca-t {
        max-width: 100%;
        box-sizing: border-box;
        margin: 10px;
    }

    .tech-img {
        width: 100%;
    }

    .cont {
        display: block;
    }

    .le {
        display: block;

    }
}



@media (max-width:580px) {
    .header-btn-1 {
        margin: 10px 0;
    }
}

@media (max-width:580px) {
    .bottom {
        display: block;
    }
}